<div id="main-slider" class="no-margin">
    <div class="carousel slide wet-asphalt">
        <!--
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
        </ol>
        -->
        <div class="carousel-inner">
            <div class="item active" style="background-image: url(/TemaSweep/images/slider/slide1.jpg) ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content centered">
                                <h2 class="animation animated-item-1">Girişmciler İçin Yenilikçi <span>Web Site</span></h2>

                                <h2 class="animation animated-item-2">Tasarımı</h2>
                                <br>
                                <span class="content-nav">
                                    <a href="#services-wrapper" class="animation animated-item-3">Go</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.item-->
            <div class="item" style="background-image: url(/TemaSweep/images/slider/slide2.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content center centered">
                                <h2 class="animation animated-item-1">Kolay ve<span>Özelleştirilebilir</span></h2>

                                <h2 class="animation animated-item-2">Duyarlı Tema</h2>
                                <br>
                                <span class="content-nav">
                                    <a href="#services-wrapper" class="animation animated-item-3">Go</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.item-->

            <div class="item">
                <video id="video_background" preload="auto" autoplay loop="loop" muted="muted" controls>
                    <source src="/TemaSweep/videos/splash.webm" type="video/webm">
                    <source src="/TemaSweep/videos/splash.mp4" type="video/mp4">
                    <source src="/TemaSweep/videos/splash.ogv" type="video/ogg">
                    Video not supported
                </video>

                <div id="video_pattern"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content centered">

                                <h2 class="animation animated-item-1">En İyi <span>Tasarım ve Yazılımlarımızı</span></h2>

                                <h2 class="animation animated-item-2">Gördünüz mü?</h2>

                                <br>
                                <span class="content-nav">
                                    <a href="#services-wrapper" class="animation animated-item-3">Go</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.item-->
        </div>
        <!--/.carousel-inner-->
    </div>
    <!--/.carousel-->
    <a class="prev hidden-xs rounded" href="#main-slider" data-slide="prev">
        <i class="fa fa-angle-left"></i>
    </a>
    <a class="next hidden-xs rounded" href="#main-slider" data-slide="next">
        <i class="fa fa-angle-right"></i>
    </a>
</div>
