<div id="contact-wrapper">
    <div id="contact">
        <div class="inner-wrapper">
            <div class="row">
                <div class="container">
                    <h2><span>Bize</span> Ulaşın</h2>

                    <div class="row">
                        <div class="col-md-12">
                            <div id="map-canvas"></div>
                            <div class="contact-info">
                                <ul>
                                    <li class="first">
                                        <p><i class="fa fa-map-marker fa-2"></i> Sweep inc.</p>

                                        <p> 9870 St Vincent Place, Glasgow, DC 45 Fr 45.</p>
                                    </li>
                                    <li class="second">
                                        <p><i class="fa fa-phone fa-2"></i> +0088776 69 900</p>

                                        <p><i class="fa fa-envelope fa-2"></i> main@example.com </p>
                                    </li>
                                    <li class="third">
                                        <p><i class="fa fa-clock-o fa-2"></i> Monday - Friday</p>

                                        <p> 9:00 AM - 6:00 AM</p>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="message-box">
                                <h3>Mesaj Gönderin</h3>

                                <form method="post" action="#">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Name">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="email" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <textarea class="form-control" placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="submit" class="readmore send-button"
                                                   value="Gönder">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
