<div id="online-edu">
    <div id="services">
        <div class="inner-wrapper">
            <div class="container">
                <h2>Online Eğitim Almak<span>İster misiniz?</span></h2>

                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="service-box service-fold">
                            <i class="hippo-icon-diamond"></i>

                            <h3>Web Geliştirme</h3>

                            <p>
                                Her türlü web projenizi Asp, Php, Javascript, Css, Bootstrap,modern ve esnek Net Core ile geliştirelim.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="service-box service-fold">
                            <i class="hippo-icon-lightbulb"></i>

                            <h3>Yenilikçi Fikirler</h3>

                            <p>
                                Sıradışı fikirler ile işinizi birlikte büyütelim.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="service-box service-fold">
                            <i class="hippo-icon-beaker"></i>

                            <h3>Profesyonel Çözümler</h3>

                            <p>
                                Her biri kendi alanında uzman ekibimizle, ihtiyaçlarınıza uzman görüşüyle hizmetinizdeyiz.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="service-box service-fold">
                            <i class="hippo-icon-pencil"></i>

                            <h3>Web Tasarım</h3>

                            <p>
                                Estetik, şık, kullanışlı siteler ile müşterilerinizi etkileyin.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="service-box service-fold">
                            <i class="hippo-icon-paper-plane"></i>

                            <h3>Masaüstü/Mobil Uygulama</h3>

                            <p>
                                İster işiniz ister kişisel projeleriniz için uygulama geliştirme hizmeti...
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="service-box service-fold">
                            <i class="hippo-icon-star"></i>

                            <h3>3 Boyutlu Tasarım / Baskı</h3>

                            <p>
                                Promosyon, hediyelik veya teknik parçalar üretmek bizim işimiz. Fikir-Tasarım-Üretim aşamalarında hizmetinizdeyiz.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="service-box service-fold">
                            <i class="hippo-icon-heart"></i>

                            <h3>Markalaşma</h3>

                            <p>
                                Ön Görüşme ve Marka Tanımlama, Rakip Firmaların İncelenmesi, Tasarım Araştırması, Tasarım Eksizi ve Ön Tasarım, Sunum Yapılması, Tasarım Sürecinin Tamamlanması...
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="service-box service-fold">
                            <i class="hippo-icon-photo"></i>

                            <h3>Grafik Tasarım</h3>

                            <p>
                                Logo Tasarımı, Kurumsal Kimlik Tasarımı, Banner Tasarımı, Broşür-El ilanı Tasarımı, Katalog Tasarımı, Ambalaj Tasarımı, Menü Tasarımı...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
