<div id="portfolio-wrapper">
    <div id="portfolio">
        <div class="inner-wrapper">
            <div class="row">
                <div class="container">
                    <h2>Portföyümüze <span>Göz Atın</span></h2>

                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div id="portfolio-container">
                                <ul id="portfolio-items">
                                    <li class="portfolio-item">
                                        <div>
                                            <img class="img-responsive" src="~/TemaSweep/images/portfolio/1.png" alt="">

                                            <div class="portfolio-item-description">
                                                <div>
                                                    <a data-linktype="modal" data-modalclass="portfolio-style"
                                                       href="portfolio1.html"
                                                       class="fa fa-info rounded"></a>

                                                    <h3>İçeriğe gözat</h3>

                                                    <p class="project-tag">Web Tasarım, Geliştirme,</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="portfolio-item">
                                        <div>
                                            <img class="img-responsive" src="~/TemaSweep/images/portfolio/2.png" alt="">

                                            <div class="portfolio-item-description">
                                                <div>
                                                    <a data-linktype="modal" data-modalclass="portfolio-style"
                                                       href="portfolio1.html"
                                                       class="fa fa-check rounded"></a>

                                                    <h3>İçeriğe gözat</h3>

                                                    <p class="project-tag">Web Tasarım,</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="portfolio-item">
                                        <div>
                                            <img class="img-responsive" src="~/TemaSweep/images/portfolio/3.png" alt="">

                                            <div class="portfolio-item-description">
                                                <div>
                                                    <a data-linktype="modal" data-modalclass="portfolio-style"
                                                       href="portfolio1.html"
                                                       class="fa fa-cog rounded"></a>

                                                    <h3>İçeriğe gözat</h3>

                                                    <p class="project-tag">Menü Tasarımı,</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="portfolio-item">
                                        <div>
                                            <img class="img-responsive" src="~/TemaSweep/images/portfolio/4.png" alt="">

                                            <div class="portfolio-item-description">
                                                <div>
                                                    <a data-linktype="modal" data-modalclass="portfolio-style"
                                                       href="portfolio1.html"
                                                       class="fa fa-pencil rounded"></a>

                                                    <h3>İçeriğe gözat</h3>

                                                    <p class="project-tag">Katalog Tasarımı,</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="portfolio-item">
                                        <div>
                                            <img class="img-responsive" src="~/TemaSweep/images/portfolio/5.png" alt="">

                                            <div class="portfolio-item-description">
                                                <div>
                                                    <a data-linktype="modal" data-modalclass="portfolio-style"
                                                       href="portfolio1.html"
                                                       class="fa fa-rocket rounded"></a>

                                                    <h3>İçeriğe gözat</h3>

                                                    <p class="project-tag">3d Baskı,</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="portfolio-item">
                                        <div>
                                            <img class="img-responsive" src="~/TemaSweep/images/portfolio/4.png" alt="">

                                            <div class="portfolio-item-description">
                                                <div>
                                                    <a data-linktype="modal" data-modalclass="portfolio-style"
                                                       href="portfolio1.html"
                                                       class="fa fa fa-thumbs-o-up rounded"></a>

                                                    <h3>İçeriğe gözat</h3>

                                                    <p class="project-tag">Masaüstü Uygulama Geliştirme,</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="portfolio-item">
                                        <div>
                                            <img class="img-responsive" src="~/TemaSweep/images/portfolio/3.png" alt="">

                                            <div class="portfolio-item-description">
                                                <div>
                                                    <a data-linktype="modal" data-modalclass="portfolio-style"
                                                       href="portfolio1.html"
                                                       class="fa fa-info rounded"></a>

                                                    <h3>İçeriğe gözat</h3>

                                                    <p class="project-tag">Sosyal Ağ Yazılım,</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="portfolio-item">
                                        <div>
                                            <img class="img-responsive" src="~/TemaSweep/images/portfolio/2.png" alt="">

                                            <div class="portfolio-item-description">
                                                <div>
                                                    <a data-linktype="modal" data-modalclass="portfolio-style"
                                                       href="portfolio1.html"
                                                       class="fa fa-wrench rounded"></a>

                                                    <h3>İçeriğe gözat</h3>

                                                    <p class="project-tag">3d Tasarım, Baskı</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="portfolio-item">
                                        <div>
                                            <img class="img-responsive" src="~/TemaSweep/images/portfolio/1.png" alt="">

                                            <div class="portfolio-item-description">
                                                <div>
                                                    <a data-linktype="modal" data-modalclass="portfolio-style"
                                                       href="portfolio1.html"
                                                       class="fa fa-magic rounded"></a>

                                                    <h3>İçeriğe gözat</h3>

                                                    <p class="project-tag">Broşür Tasarımı,</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="portfolio-item">
                                        <div>
                                            <img class="img-responsive" src="~/TemaSweep/images/portfolio/2.png" alt="">

                                            <div class="portfolio-item-description">
                                                <div>
                                                    <a data-linktype="modal" data-modalclass="portfolio-style"
                                                       href="portfolio1.html"
                                                       class="fa fa-info rounded"></a>

                                                    <h3>İçeriğe gözat</h3>

                                                    <p class="project-tag">Mobil Uygulama Geliştirme,</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="portfolio-directions">
                                <span class="prev-items rounded"><i class="fa fa-angle-left"></i></span>
                                <span class="next-items rounded"><i class="fa fa-angle-right"></i></span>
                                <a href="/Product/Index/" class="btn btn-default">>>DEVAMI</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
