<div id="take-price">
    <div id="aboutus">
        <div class="inner-wrapper">
            <div class="row">
                <div class="container">
                    <h2>Hakkımızda <span> Daha Fazlasını Öğrenin</span></h2>

                    <div class="row contents">
                        <div class="col-md-6">
                            <p>
                                On the other hand, we denounce with righteous indignation and dislike men who are
                                so
                                beguiled and demoralized by the charms of pleasure of the moment, so blinded by
                                desire,
                                that they cannot foresee the pain and trouble that are bound to ensue; and equal
                                blame
                                belongs to those who fail in their duty through weakness of will, which is the same
                                as
                                saying through shrinking from toil and pain.
                            </p>

                            <p>
                                These cases are perfectly simple and easy to distinguish. In a free hour, when our
                                power
                                of choice is untrammelled and when nothing prevents our being able to do what we
                                like
                                best,
                            </p>

                            <p>
                                every pleasure is to be welcomed and every pain avoided. But in certain
                                circumstances
                                and owing to the claims of duty or the obligations of business it will frequently
                                occur
                                that pleasures have to be repudiated and annoyances accepted. The wise man
                                therefore
                                always holds in these matters to this principle of selection: he rejects pleasures
                                to
                                secure other greater pleasures, or else he endures pains to avoid worse pains.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h3>Our Skills</h3>

                            <p>
                                every pleasure is to be welcomed and every pain avoided. But in certain
                                circumstances
                                and
                                owing to the claims of duty or the obligations of business it will frequently occur
                                that
                                pleasures have to be repudiated
                            </p>

                            <div class="progress-bars">
                                <div class="skill-progress" data-skill="75%">CSS</div>
                                <div class="skill-progress" data-skill="60%">HTML</div>
                                <div class="skill-progress" data-skill="90%">PHP</div>
                                <div class="skill-progress" data-skill="55%">Photoshop</div>
                            </div>
                            <div class="connect">
                                <h3>Bizimle İletişime Geçin</h3>

                                <div class="social-shares">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
